Link to notebook: https://tinyurl.com/lecture1sp2020

# Pandas and Intro to Project Development

February 24, 2020

Data Science Society Spring 2020

Kevin Chai & Anita Shen

Dataset: https://www.kaggle.com/neuromusic/avocado-prices/data

In [9]:
import numpy as np
import pandas as pd

# Importing csv Files

The dataframe we will be working with today represents weekly 2018 retail scan data for National retail volume (units) and price of avocados.

In pandas, we read csv files by using pd.read_csv. We read in our avocado dataframe in the cell below and assign it to the variable avocado. We can also use **df.head()** to display our dataframe.

In [10]:
avocado = pd.read_csv("avocado.csv")
avocado.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

# Pandas Common Functions

1. df.head() gets you the first 5 rows of your dataframe
2. df.size outputs the number of rows in the dataframe
3. df.shape gives you the (row,column) pair of the dataframe
4. df.columns describes the dataframe columns
5. df.sort_values("attribute") sort by the values of a column
6. df.drop["column", axis = 1] removes an entire column from the dataframe. axis=0 removes certain values from a row
7. df["new column name"] = array. adds a new column to our dataframe
8. df.loc[[index], column name] selects certain values by column names
9. df.iloc[[row], [column]] selects single value by row and column
10. df.apply(function) applies function to certain series in the dataframe

Cheat Sheet: http://datacamp-community-prod.s3.amazonaws.com/dbed353d-2757-4617-8206-8767ab379ab3

# Acessing Columns
We can access certain columns of our dataframe by using **df["column_name"]** which returns a Series. For example, if we wanted to access the "Date" column

In [11]:
dates = avocado["Date"]
dates.head(10)

0    2015-12-27
1    2015-12-20
2    2015-12-13
3    2015-12-06
4    2015-11-29
5    2015-11-22
6    2015-11-15
7    2015-11-08
8    2015-11-01
9    2015-10-25
Name: Date, dtype: object

# Filtering Data
To filter our data, we can use **df.loc()**. For example, if we wanted to return a dataframe that did not include the year 2015.

In [12]:
no_2015 = avocado.loc[avocado["year"] != 2015]
no_2015

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
2808,0,2016-12-25,1.52,73341.73,3202.39,58280.33,426.92,11432.09,11017.32,411.83,2.94,conventional,2016,Albany
2809,1,2016-12-18,1.53,68938.53,3345.36,55949.79,138.72,9504.66,8876.65,587.73,40.28,conventional,2016,Albany
2810,2,2016-12-11,1.49,71777.85,2323.39,56545.79,86.65,12822.02,12176.75,645.27,0.00,conventional,2016,Albany
2811,3,2016-12-04,1.48,113031.96,6530.78,99746.05,50.84,6704.29,6476.12,228.17,0.00,conventional,2016,Albany
2812,4,2016-11-27,1.52,58171.89,2793.99,47106.18,18.14,8253.58,7973.98,279.60,0.00,conventional,2016,Albany
2813,5,2016-11-20,1.56,70089.51,3675.63,56898.54,11.00,9504.34,9238.40,209.00,56.94,conventional,2016,Albany
2814,6,2016-11-13,1.62,63608.01,3523.63,49837.68,34.00,10212.70,9790.67,422.03,0.00,conventional,2016,Albany
2815,7,2016-11-06,1.63,57178.20,3212.04,43024.32,36.40,10905.44,10474.09,431.35,0.00,conventional,2016,Albany
2816,8,2016-10-30,1.46,58375.10,3187.14,45898.52,54.31,9235.13,9153.12,82.01,0.00,conventional,2016,Albany
2817,9,2016-10-23,1.19,92080.35,4222.93,77537.36,46.00,10274.06,10160.26,113.80,0.00,conventional,2016,Albany
2818,10,2016-10-16,1.40,69060.90,4027.42,54186.55,53.77,10793.16,10434.39,358.77,0.00,conventional,2016,Albany
2819,11,2016-10-09,1.13,101087.84,3641.46,87174.41,102.15,10169.82,9744.41,425.41,0.00,conventional,2016,Albany
2820,12,2016-10-02,1.51,75480.26,4109.22,57515.76,84.08,13771.20,13345.52,425.68,0.00,conventional,2016,Albany
2821,13,2016-09-25,1.62,96853.15,7658.55,79425.81,43.25,9725.54,9586.80,138.74,0.00,conventional,2016,Albany
2822,14,2016-09-18,1.39,79513.63,6624.37,63384.56,37.48,9467.22,8958.14,509.08,0.00,conventional,2016,Albany
2823,15,2016-09-11,1.37,81473.15,6258.88,63511.85,42.26,11660.16,10839.17,815.99,5.00,conventional,2016,Albany
2824,16,2016-09-04,1.44,95456.26,14741.13,64966.75,88.11,15660.27,15340.19,220.08,100.00,conventional,2016,Albany
2825,17,2016-08-28,1.18,145323.22,34912.97,94928.79,53.85,15427.61,14367.64,269.97,790.00,conventional,2016,Albany
2826,18,2016-08-21,1.43,94882.79,14520.36,63416.88,28.03,16917.52,15811.00,286.52,820.00,conventional,2016,Albany
2827,19,2016-08-14,1.20,110528.09,24000.62,72970.23,26.76,13530.48,12434.82,350.10,745.56,conventional,2016,Albany
2828,20,2016-08-07,1.48,99683.11,14670.87,69054.28,10.90,15947.06,14597.20,178.19,1171.67,conventional,2016,Albany
2829,21,2016-07-31,1.61,125586.57,9293.65,96915.41,25.46,19352.05,18803.23,78.82,470.00,conventional,2016,Albany
2830,22,2016-07-24,1.46,98321.14,11580.64,65195.63,13.73,21531.14,18639.29,241.85,2650.00,conventional,2016,Albany
2831,23,2016-07-17,1.31,89228.02,9273.69,64260.69,80.07,15613.57,13439.76,688.81,1485.00,conventional,2016,Albany
2832,24,2016-07-10,1.11,131630.13,20970.24,96581.82,46.49,14031.58,10876.00,470.58,2685.00,conventional,2016,Albany
2833,25,2016-07-03,1.42,115907.61,8373.77,82122.04,146.83,25264.97,21872.64,492.33,2900.00,conventional,2016,Albany
2834,26,2016-06-26,1.50,133086.66,7923.01,106656.84,37.42,18469.39,16479.75,419.64,1570.00,conventional,2016,Albany
2835,27,2016-06-19,1.42,112817.51,6766.63,85374.27,30.07,20646.54,18526.59,389.95,1730.00,conventional,2016,Albany
2836,28,2016-06-12,1.38,111394.50,7531.24,83771.34,81.25,20010.67,18368.49,282.18,1360.00,conventional,2016,Albany
2837,29,2016-06-05,1.47,115857.12,4288.46,92055.75,53.98,19458.93,17385.60,398.33,1675.00,conventional,2016,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS
18225,0,2018-03-25,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,2018,West
18226,1,2018-03-18,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,2018,West
18227,2,2018-03-11,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,2018,West
18228,3,2018-03-04,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,2018,West
18229,4,2018-02-25,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,2018,West
18230,5,2018-02-18,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,2018,West
18231,6,2018-02-11,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,2018,West
18232,7,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West
18233,8,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West
18234,9,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West
18235,10,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West
18236,11,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West
18237,0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico
18238,1,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico
18239,2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico
18240,3,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,2018,WestTexNewMexico
18241,4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,2018,WestTexNewMexico
18242,5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico
18243,6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,2018,WestTexNewMexico
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico

We can also have filter with multiple conditions using **df.loc()**. For example if we wanted the exclude the year 2015 and organic avocados.

In [13]:
no_2015_oragnic = avocado.loc[(avocado["year"] != 2015) & (avocado["type"] != "organic")]
no_2015_oragnic

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
2808,0,2016-12-25,1.52,73341.73,3202.39,58280.33,426.92,11432.09,11017.32,411.83,2.94,conventional,2016,Albany
2809,1,2016-12-18,1.53,68938.53,3345.36,55949.79,138.72,9504.66,8876.65,587.73,40.28,conventional,2016,Albany
2810,2,2016-12-11,1.49,71777.85,2323.39,56545.79,86.65,12822.02,12176.75,645.27,0.00,conventional,2016,Albany
2811,3,2016-12-04,1.48,113031.96,6530.78,99746.05,50.84,6704.29,6476.12,228.17,0.00,conventional,2016,Albany
2812,4,2016-11-27,1.52,58171.89,2793.99,47106.18,18.14,8253.58,7973.98,279.60,0.00,conventional,2016,Albany
2813,5,2016-11-20,1.56,70089.51,3675.63,56898.54,11.00,9504.34,9238.40,209.00,56.94,conventional,2016,Albany
2814,6,2016-11-13,1.62,63608.01,3523.63,49837.68,34.00,10212.70,9790.67,422.03,0.00,conventional,2016,Albany
2815,7,2016-11-06,1.63,57178.20,3212.04,43024.32,36.40,10905.44,10474.09,431.35,0.00,conventional,2016,Albany
2816,8,2016-10-30,1.46,58375.10,3187.14,45898.52,54.31,9235.13,9153.12,82.01,0.00,conventional,2016,Albany
2817,9,2016-10-23,1.19,92080.35,4222.93,77537.36,46.00,10274.06,10160.26,113.80,0.00,conventional,2016,Albany
2818,10,2016-10-16,1.40,69060.90,4027.42,54186.55,53.77,10793.16,10434.39,358.77,0.00,conventional,2016,Albany
2819,11,2016-10-09,1.13,101087.84,3641.46,87174.41,102.15,10169.82,9744.41,425.41,0.00,conventional,2016,Albany
2820,12,2016-10-02,1.51,75480.26,4109.22,57515.76,84.08,13771.20,13345.52,425.68,0.00,conventional,2016,Albany
2821,13,2016-09-25,1.62,96853.15,7658.55,79425.81,43.25,9725.54,9586.80,138.74,0.00,conventional,2016,Albany
2822,14,2016-09-18,1.39,79513.63,6624.37,63384.56,37.48,9467.22,8958.14,509.08,0.00,conventional,2016,Albany
2823,15,2016-09-11,1.37,81473.15,6258.88,63511.85,42.26,11660.16,10839.17,815.99,5.00,conventional,2016,Albany
2824,16,2016-09-04,1.44,95456.26,14741.13,64966.75,88.11,15660.27,15340.19,220.08,100.00,conventional,2016,Albany
2825,17,2016-08-28,1.18,145323.22,34912.97,94928.79,53.85,15427.61,14367.64,269.97,790.00,conventional,2016,Albany
2826,18,2016-08-21,1.43,94882.79,14520.36,63416.88,28.03,16917.52,15811.00,286.52,820.00,conventional,2016,Albany
2827,19,2016-08-14,1.20,110528.09,24000.62,72970.23,26.76,13530.48,12434.82,350.10,745.56,conventional,2016,Albany
2828,20,2016-08-07,1.48,99683.11,14670.87,69054.28,10.90,15947.06,14597.20,178.19,1171.67,conventional,2016,Albany
2829,21,2016-07-31,1.61,125586.57,9293.65,96915.41,25.46,19352.05,18803.23,78.82,470.00,conventional,2016,Albany
2830,22,2016-07-24,1.46,98321.14,11580.64,65195.63,13.73,21531.14,18639.29,241.85,2650.00,conventional,2016,Albany
2831,23,2016-07-17,1.31,89228.02,9273.69,64260.69,80.07,15613.57,13439.76,688.81,1485.00,conventional,2016,Albany
2832,24,2016-07-10,1.11,131630.13,20970.24,96581.82,46.49,14031.58,10876.00,470.58,2685.00,conventional,2016,Albany
2833,25,2016-07-03,1.42,115907.61,8373.77,82122.04,146.83,25264.97,21872.64,492.33,2900.00,conventional,2016,Albany
2834,26,2016-06-26,1.50,133086.66,7923.01,106656.84,37.42,18469.39,16479.75,419.64,1570.00,conventional,2016,Albany
2835,27,2016-06-19,1.42,112817.51,6766.63,85374.27,30.07,20646.54,18526.59,389.95,1730.00,conventional,2016,Albany
2836,28,2016-06-12,1.38,111394.50,7531.24,83771.34,81.25,20010.67,18368.49,282.18,1360.00,conventional,2016,Albany
2837,29,2016-06-05,1.47,115857.12,4288.46,92055.75,53.98,19458.93,17385.60,398.33,1675.00,conventional,2016,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9096,6,2018-02-11,0.97,43167806.09,15870677.70,11541844.87,652856.58,15102426.94,10844852.22,4023485.04,234089.68,conventional,2018,TotalUS
9097,7,2018-02-04,0.87,62505646.52,21620180.90,20445501.03,1066830.22,19373134.37,13384586.80,5719096.61,269450.96,conventional,2018,TotalUS
9098,8,2018-01-28,1.09,40171640.84,14551799.50,12119884.61,575974.74,12923981.99,9749412.19,3041125.42,133444.38,conventional,2018,TotalUS
9099,9,2018-01-21,1.08,42939821.55,14218843.83,13929702.12,928815.12,13862460.48,9866218.28,3789722.90,206519.30,conventional,2018,TotalUS
9100,10,2018-01-14,1.20,37299945.22,12600918.24,11866197.84,652808.40,12180020.74,8128241.88,3917569.95,134208.91,conventional,2018,TotalUS
9101,11,2018-01-07,1.13,36703156.72,13730992.75,10781339.21,677714.86,11513109.90,8231766.23,3130919.10,150424.57,conventional,2018,TotalUS
9102,0,2018-03-25,0.93,7667064.46,2567279.74,1912986.38,118289.91,3068508.43,1309580.19,1745630.06,13298.18,conventional,2018,West
9103,1,2018-03-18,0.99,7254940.65,2099082.66,1707752.84,115997.93,3332107.22,1333247.05,1982086.02,16774.15,conventional,2018,West
9104,2,2018-03-11,1.00,6906412.50,2442241.76,1695925.97,130983.00,2637261.77,1435608.59,1184730.56,16922.62,conventional,2018,West
9105,3,2018-03-04,0.96,7371498.76,2676545.90,1748192.04,118365.31,2828395.51,1432984.96,1379886.53,15524.02,conventional,2018,West
9106,4,2018-02-25,0.97,7408451.31,2154414.96,1740237.35,117766.27,3396032.73,1164132.42,2205336.14,26564.17,conventional,2018,West
9107,5,2018-02-18,0.98,6783106.02,2511897.38,1645249.93,107420.55,2518538.16,1311830.11,1187897.07,18810.98,conventional,2018,West
9108,6,2018-02-11,0.93,7463494.79,2646176.67,1633418.28,109146.92,3074752.92,1203367.03,1856207.85,15178.04,conventional,2018,West
9109,7,2018-02-04,0.83,10565056.41,3121272.58,3294335.87,142553.21,4006894.75,1151399.33,2838239.39,17256.03,conventional,2018,West
9110,8,2018-01-28,1.01,7007265.31,2718390.81,1664995.75,93165.88,2530712.87,1254504.07,1260049.46,16159.34,conventional,2018,West
9111,9,2018-01-21,1.04,7053820.12,2218365.17,1811849.78,106001.28,2917603.89,1196963.03,1707643.76,12997.10,conventional,2018,West
9112,10,2018-01-14,1.05,7577456.14,2249412.86,2028819.77,113257.03,3185966.48,1152416.21,2017353.32,16196.95,conventional,2018,West
9113,11,2018-01-07,1.08,6358768.95,2061960.91,1706532.52,108441.55,2481833.97,1175889.89,1291212.75,14731.33,conventional,2018,West
9114,0,2018-03-25,0.84,965185.06,438526.12,199585.90,11017.42,316055.62,153009.89,160999.10,2046.63,conventional,2018,WestTexNewMexico
9115,1,2018-03-18,0.88,855251.17,457635.79,137597.04,8422.08,251596.26,151191.85,98535.60,1868.81,conventional,2018,WestTexNewMexico
9116,2,2018-03-11,0.94,897607.12,467501.55,154130.63,11380.26,264594.68,152380.60,110322.16,1891.92,conventional,2018,WestTexNewMexico
9117,3,2018-03-04,0.88,935934.10,454269.43,164856.57,9907.85,306900.25,164965.35,138399.68,3535.22,conventional,2018,WestTexNewMexico
9118,4,2018-02-25,0.88,895671.55,431217.01,171532.79,10590.75,282331.00,125973.31,147040.26,9317.43,conventional,2018,WestTexNewMexico
9119,5,2018-02-18,0.89,896808.98,421321.21,191798.82,10065.33,273623.62,130348.75,140202.81,3072.06,conventional,2018,WestTexNewMexico
9120,6,2018-02-11,0.75,1071952.06,544075.54,189862.10,7194.15,330820.27,113338.76,215753.74,1727.77,conventional,2018,WestTexNewMexico
9121,7,2018-02-04,0.76,1272039.80,531469.08,368948.26,13078.20,358544.26,127833.03,229786.03,925.20,conventional,2018,WestTexNewMexico
9122,8,2018-01-28,0.85,957086.16,479147.93,179489.19,7314.98,291134.06,143430.96,147376.43,326.67,conventional,2018,WestTexNewMexico
9123,9,2018-01-21,0.84,1020913.20,505263.29,177911.40,9468.95,328269.56,118978.50,209131.06,160.00,conventional,2018,WestTexNewMexico
9124,10,2018-01-14,0.90,950954.60,463945.73,188126.02,11227.47,287655.38,125408.69,162040.02,206.67,conventional,2018,WestTexNewMexico
9125,11,2018-01-07,0.88,880266.52,436282.38,178669.53,9467.11,255847.50,99686.92,155870.58,290.00,conventional,2018,WestTexNewMexico

Notice how we had to use paranthesis to split up our conditional statements while filtering.

# Adding new columns

To add in a new column named *new_column* in pandas, we can use **df["new_column"]** and assign it to be whatever values we want for the column.

In [14]:
avocado["True"] = True
avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,True
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany,True
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany,True
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany,True
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany,True
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany,True
5,5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany,True
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany,True
7,7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany,True
8,8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany,True
9,9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany,True
10,10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany,True
11,11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany,True
12,12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany,True
13,13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany,True
14,14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany,True
15,15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany,True
16,16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany,True
17,17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany,True
18,18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany,True
19,19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany,True
20,20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany,True
21,21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany,True
22,22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany,True
23,23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany,True
24,24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany,True
25,25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany,True
26,26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany,True
27,27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany,True
28,28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany,True
29,29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS,True
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS,True
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS,True
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS,True
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS,True
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS,True
18225,0,2018-03-25,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,2018,West,True
18226,1,2018-03-18,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,2018,West,True
18227,2,2018-03-11,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,2018,West,True
18228,3,2018-03-04,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,2018,West,True
18229,4,2018-02-25,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,2018,West,True
18230,5,2018-02-18,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,2018,West,True
18231,6,2018-02-11,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,2018,West,True
18232,7,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West,True
18233,8,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West,True
18234,9,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West,True
18235,10,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West,True
18236,11,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West,True
18237,0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico,True
18238,1,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico,True
18239,2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico,True
18240,3,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,2018,WestTexNewMexico,True
18241,4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,2018,WestTexNewMexico,True
18242,5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico,True
18243,6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,2018,WestTexNewMexico,True
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico,True
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,2018,WestTexNewMexico,True
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico,True
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico,True
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico,True

To drop the column we just added, you can use **df.drop**.

In [15]:
avocado = avocado.drop(columns=["True"])
avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
5,5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
7,7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany
8,8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany
9,9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany
10,10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
11,11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany
12,12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
13,13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
14,14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
15,15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany
16,16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
17,17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany
18,18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany
19,19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
20,20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany
21,21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
22,22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany
23,23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany
24,24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
25,25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany
26,26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
27,27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany
28,28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
29,29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS
18225,0,2018-03-25,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,2018,West
18226,1,2018-03-18,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,2018,West
18227,2,2018-03-11,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,2018,West
18228,3,2018-03-04,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,2018,West
18229,4,2018-02-25,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,2018,West
18230,5,2018-02-18,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,2018,West
18231,6,2018-02-11,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,2018,West
18232,7,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West
18233,8,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West
18234,9,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West
18235,10,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West
18236,11,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West
18237,0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico
18238,1,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico
18239,2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico
18240,3,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,2018,WestTexNewMexico
18241,4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,2018,WestTexNewMexico
18242,5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico
18243,6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,2018,WestTexNewMexico
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico

What if we wanted to include a new column in our dataframe? For example, what if we wanted to create a column called **Conventional** and have the value be True if the avocado type is conventional and false if it wasn't.

In [22]:
avocado["Conventional"] = True
avocado["Conventional"].loc[avocado["type"] == "organic"] = False
avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Conventional
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany,True
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany,True
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany,True
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany,True
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany,True
5,5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany,True
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany,True
7,7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany,True
8,8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany,True
9,9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany,True
10,10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany,True
11,11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany,True
12,12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany,True
13,13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany,True
14,14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany,True
15,15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany,True
16,16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany,True
17,17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany,True
18,18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany,True
19,19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany,True
20,20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany,True
21,21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany,True
22,22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany,True
23,23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany,True
24,24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany,True
25,25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany,True
26,26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany,True
27,27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany,True
28,28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany,True
29,29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS,False
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS,False
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS,False
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS,False
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS,False
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS,False
18225,0,2018-03-25,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,2018,West,False
18226,1,2018-03-18,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,2018,West,False
18227,2,2018-03-11,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,2018,West,False
18228,3,2018-03-04,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,2018,West,False
18229,4,2018-02-25,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,2018,West,False
18230,5,2018-02-18,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,2018,West,False
18231,6,2018-02-11,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,2018,West,False
18232,7,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West,False
18233,8,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West,False
18234,9,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West,False
18235,10,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West,False
18236,11,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West,False
18237,0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico,False
18238,1,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico,False
18239,2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico,False
18240,3,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,2018,WestTexNewMexico,False
18241,4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,2018,WestTexNewMexico,False
18242,5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico,False
18243,6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,2018,WestTexNewMexico,False
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico,False
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,2018,WestTexNewMexico,False
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico,False
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico,False
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico,False

# Grouping 
What if we wanted to find how many entries we have that are conventional and organic? We can do this in multiple ways. First we can do it by using the **df.groupby()** function and then calling **.size()**.

In [27]:
type_count = avocado.groupby("type").size()
type_count

type
conventional    9126
organic         9123
dtype: int64

Alternatively, we can also use the **SERIES.value_counts()** function. First we have to indicate what column we are trying to count.

In [28]:
type_count_alt = avocado["type"].value_counts()
type_count_alt

conventional    9126
organic         9123
Name: type, dtype: int64

We can also order series by using the **sort_values()** function.

In [29]:
region = avocado["year"].value_counts()
region

2017    5722
2016    5616
2015    5615
2018    1296
Name: year, dtype: int64

In [30]:
region.sort_values(ascending = True)

2018    1296
2015    5615
2016    5616
2017    5722
Name: year, dtype: int64

# Aggregate Function

Let's explore what the average count of each type of avocados are in each respective year. Agg aggregates data by a certain function.

In [31]:
avocado[["year", "4046", "4225", "4770"]].groupby("year").agg(np.mean).astype(int)

        4046    4225   4770
year
2015  304443  313633  25426
2016  271567  297850  28468
2017  288716  269964  15941
2018  355323  314628  17694

# Pandas Data Types

1. object: data type for strings (sequence of characters)
2. int64: integer numbers
3. float64: floating point numbers
4. bool: true/false values
5. datetime: date and time values

In [32]:
avocado.info

<bound method DataFrame.info of        Unnamed: 0        Date  AveragePrice  Total Volume       4046  \
0               0  2015-12-27          1.33      64236.62    1036.74
1               1  2015-12-20          1.35      54876.98     674.28
2               2  2015-12-13          0.93     118220.22     794.70
3               3  2015-12-06          1.08      78992.15    1132.00
4               4  2015-11-29          1.28      51039.60     941.48
5               5  2015-11-22          1.26      55979.78    1184.27
6               6  2015-11-15          0.99      83453.76    1368.92
7               7  2015-11-08          0.98     109428.33     703.75
8               8  2015-11-01          1.02      99811.42    1022.15
9               9  2015-10-25          1.07      74338.76     842.40
10             10  2015-10-18          1.12      84843.44     924.86
11             11  2015-10-11          1.28      64489.17    1582.03
12             12  2015-10-04          1.31      61007.10    2268.32
13             13  2015-09-27          0.99     106803.39    1204.88
14             14  2015-09-20          1.33      69759.01    1028.03
15             15  2015-09-13          1.28      76111.27     985.73
16             16  2015-09-06          1.11      99172.96     879.45
17             17  2015-08-30          1.07     105693.84     689.01
18             18  2015-08-23          1.34      79992.09     733.16
19             19  2015-08-16          1.33      80043.78     539.65
20             20  2015-08-09          1.12     111140.93     584.63
21             21  2015-08-02          1.45      75133.10     509.94
22             22  2015-07-26          1.11     106757.10     648.75
23             23  2015-07-19          1.26      96617.00    1042.10
24             24  2015-07-12          1.05     124055.31     672.25
25             25  2015-07-05          1.35     109252.12     869.45
26             26  2015-06-28          1.37      89534.81     664.23
27             27  2015-06-21          1.27     104849.39     804.01
28             28  2015-06-14          1.32      89631.30     850.58
29             29  2015-06-07          1.07     122743.06     656.71
...           ...         ...           ...           ...        ...
18219           6  2018-02-11          1.56    1317000.47   98465.26
18220           7  2018-02-04          1.53    1384683.41  117922.52
18221           8  2018-01-28          1.61    1336979.09  118616.17
18222           9  2018-01-21          1.63    1283987.65  108705.28
18223          10  2018-01-14          1.59    1476651.08  145680.62
18224          11  2018-01-07          1.51    1517332.70  129541.43
18225           0  2018-03-25          1.60     271723.08   26996.28
18226           1  2018-03-18          1.73     210067.47   33437.98
18227           2  2018-03-11          1.63     264691.87   27566.25
18228           3  2018-03-04          1.46     347373.17   25990.60
18229           4  2018-02-25          1.49     301985.61   34200.18
18230           5  2018-02-18          1.64     224798.60   30149.00
18231           6  2018-02-11          1.47     275248.53   24732.55
18232           7  2018-02-04          1.41     283378.47   22474.66
18233           8  2018-01-28          1.80     185974.53   22918.40
18234           9  2018-01-21          1.83     189317.99   27049.44
18235          10  2018-01-14          1.82     207999.67   33869.12
18236          11  2018-01-07          1.48     297190.60   34734.97
18237           0  2018-03-25          1.62      15303.40    2325.30
18238           1  2018-03-18          1.56      15896.38    2055.35
18239           2  2018-03-11          1.56      22128.42    2162.67
18240           3  2018-03-04          1.54      17393.30    1832.24
18241           4  2018-02-25          1.57      18421.24    1974.26
18242           5  2018-02-18          1.56      17597.12    1892.05
18243           6  2018-02-11          1.57      15986.17    1924.28
18244           7  2018-02-04          1.63      17074.83    2046.96
18245           8  2018-01-28          1.71      13888.04    1191.70
18246           9  2018-01-21          1.87      13766.76    1191.92
18247          10  2018-01-14          1.93      16205.22    1527.63
18248          11  2018-01-07          1.62      17489.58    2894.77

            4225     4770  Total Bags  Small Bags  Large Bags  XLarge Bags  \
0       54454.85    48.16     8696.87     8603.62       93.25         0.00
1       44638.81    58.33     9505.56     9408.07       97.49         0.00
2      109149.67   130.50     8145.35     8042.21      103.14         0.00
3       71976.41    72.58     5811.16     5677.40      133.76         0.00
4       43838.39    75.78     6183.95     5986.26      197.69         0.00
5       48067.99    43.61     6683.91     6556.47      127.44         0.00
6       73672.72    93.26     8318.86     8196.81      122.05         0.00
7      101815.36    80.00     6829.22     6266.85      562.37         0.00
8       87315.57    85.34    11388.36    11104.53      283.83         0.00
9       64757.44   113.00     8625.92     8061.47      564.45         0.00
10      75595.85   117.07     8205.66     7877.86      327.80         0.00
11      52677.92   105.32    10123.90     9866.27      257.63         0.00
12      49880.67   101.36     8756.75     8379.98      376.77         0.00
13      99409.21   154.84     6034.46     5888.87      145.59         0.00
14      59313.12   150.50     9267.36     8489.10      778.26         0.00
15      65696.86   142.00     9286.68     8665.19      621.49         0.00
16      90062.62   240.79     7990.10     7762.87      227.23         0.00
17      94362.67   335.43    10306.73    10218.93       87.80         0.00
18      67933.79   444.78    10880.36    10745.79      134.57         0.00
19      68666.01   394.90    10443.22    10297.68      145.54         0.00
20     100961.46   368.95     9225.89     9116.34      109.55         0.00
21      62035.06   741.08    11847.02    11768.52       78.50         0.00
22      91949.05   966.61    13192.69    13061.53      131.16         0.00
23      82049.40  2238.02    11287.48    11103.49      183.99         0.00
24      94693.52  4257.64    24431.90    24290.08      108.49        33.33
25      72600.55  5883.16    29898.96    29663.19      235.77         0.00
26      57545.79  4662.71    26662.08    26311.76      350.32         0.00
27      76688.55  5481.18    21875.65    21662.00      213.65         0.00
28      55400.94  4377.19    29002.59    28343.14      659.45         0.00
29      99220.82    90.32    22775.21    22314.99      460.22         0.00
...          ...      ...         ...         ...         ...          ...
18219  270798.27  1839.80   945638.02   768242.42   177144.00       251.60
18220  287724.61  1703.52   977084.84   774695.74   201878.69       510.41
18221  280080.34  1270.61   936859.49   796104.27   140652.84       102.38
18222  259172.13  1490.02   914409.26   710654.40   203526.59       228.27
18223  323669.83  1580.01  1005593.78   858772.69   146808.97        12.12
18224  296490.29  1289.07  1089861.24   915452.78   174381.57        26.89
18225   77861.39   117.56   166747.85    87108.00    79495.39       144.46
18226   47165.54   110.40   129353.55    73163.12    56020.24       170.19
18227   60383.57   276.42   176465.63   107174.93    69290.70         0.00
18228   71213.19    79.01   250090.37    85835.17   164087.33       167.87
18229   49139.34    85.58   218560.51    99989.62   118314.77       256.12
18230   38800.64   123.13   155725.83   120428.13    35257.73        39.97
18231   61713.53   243.00   188559.45    88497.05    99810.80       251.60
18232   55360.49   133.41   205409.91    70232.59   134666.91       510.41
18233   33051.14    93.52   129911.47    77822.23    51986.86       102.38
18234   33561.32   439.47   128267.76    76091.99    51947.50       228.27
18235   47435.14   433.52   126261.89    89115.78    37133.99        12.12
18236   62967.74   157.77   199330.12   103761.55    95544.39        24.18
18237    2171.66     0.00    10806.44    10569.80      236.64         0.00
18238    1499.55     0.00    12341.48    12114.81      226.67         0.00
18239    3194.25     8.93    16762.57    16510.32      252.25         0.00
18240    1905.57     0.00    13655.49    13401.93      253.56         0.00
18241    2482.65     0.00    13964.33    13698.27      266.06         0.00
18242    1928.36     0.00    13776.71    13553.53      223.18         0.00
18243    1368.32     0.00    12693.57    12437.35      256.22         0.00
18244    1529.20     0.00    13498.67    13066.82      431.85         0.00
18245    3431.50     0.00     9264.84     8940.04      324.80         0.00
18246    2452.79   727.94     9394.11     9351.80       42.31         0.00
18247    2981.04   727.01    10969.54    10919.54       50.00         0.00
18248    2356.13   224.53    12014.15    11988.14       26.01         0.00

               type  year            region  Conventional
0      conventional  2015            Albany          True
1      conventional  2015            Albany          True
2      conventional  2015            Albany          True
3      conventional  2015            Albany          True
4      conventional  2015            Albany          True
5      conventional  2015            Albany          True
6      conventional  2015            Albany          True
7      conventional  2015            Albany          True
8      conventional  2015            Albany          True
9      conventional  2015            Albany          True
10     conventional  2015            Albany          True
11     conventional  2015            Albany          True
12     conventional  2015            Albany          True
13     conventional  2015            Albany          True
14     conventional  2015            Albany          True
15     conventional  2015            Albany          True
16     conventional  2015            Albany          True
17     conventional  2015            Albany          True
18     conventional  2015            Albany          True
19     conventional  2015            Albany          True
20     conventional  2015            Albany          True
21     conventional  2015            Albany          True
22     conventional  2015            Albany          True
23     conventional  2015            Albany          True
24     conventional  2015            Albany          True
25     conventional  2015            Albany          True
26     conventional  2015            Albany          True
27     conventional  2015            Albany          True
28     conventional  2015            Albany          True
29     conventional  2015            Albany          True
...             ...   ...               ...           ...
18219       organic  2018           TotalUS         False
18220       organic  2018           TotalUS         False
18221       organic  2018           TotalUS         False
18222       organic  2018           TotalUS         False
18223       organic  2018           TotalUS         False
18224       organic  2018           TotalUS         False
18225       organic  2018              West         False
18226       organic  2018              West         False
18227       organic  2018              West         False
18228       organic  2018              West         False
18229       organic  2018              West         False
18230       organic  2018              West         False
18231       organic  2018              West         False
18232       organic  2018              West         False
18233       organic  2018              West         False
18234       organic  2018              West         False
18235       organic  2018              West         False
18236       organic  2018              West         False
18237       organic  2018  WestTexNewMexico         False
18238       organic  2018  WestTexNewMexico         False
18239       organic  2018  WestTexNewMexico         False
18240       organic  2018  WestTexNewMexico         False
18241       organic  2018  WestTexNewMexico         False
18242       organic  2018  WestTexNewMexico         False
18243       organic  2018  WestTexNewMexico         False
18244       organic  2018  WestTexNewMexico         False
18245       organic  2018  WestTexNewMexico         False
18246       organic  2018  WestTexNewMexico         False
18247       organic  2018  WestTexNewMexico         False
18248       organic  2018  WestTexNewMexico         False

[18249 rows x 15 columns]>

# Changing Data Types

Let's say for the sake of simpler computations we want to remove the decimals from our "Total Volume" column.

In [33]:
avocado["Total Volume"] = avocado["Total Volume"].astype(int)
avocado.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Conventional
0,0,2015-12-27,1.33,64236,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,True
1,1,2015-12-20,1.35,54876,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,True
2,2,2015-12-13,0.93,118220,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,True
3,3,2015-12-06,1.08,78992,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,True
4,4,2015-11-29,1.28,51039,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,True

You can use the **.astype()** function to change values to a bunch of differet data types.

# Random Useful Pandas Functions
One of the most helpful functions of pandas is the **df.describe()** function.

In [34]:
avocado.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506435e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083800e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073760e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329620e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

As you can see, the dataframe shows a bunch of useful metrics about our table that we didn't have to calculate ourselves!

This shows all of our columns and what type of data is in each column! This is useful if you saw a number in your data, but you weren't sure if it was an int or a string.

In [35]:
avocado.dtypes

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume      int64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
Conventional       bool
dtype: object

# Pivot Tables

What if we want to reshape the table? Let's use the pivot table function to expand, isolate, and modify our table in a condensed matter.

In [36]:
# Example 
  
classes = pd.DataFrame({'Classes': ['CS61A', 'Data 8', 'CS61B'], 
      'Professors': ['Denero', 'Adhikari', 'Hilfinger'], 
      'Average Grade': ["B+", "A-", "B+"]}) 
classes

  Classes Professors Average Grade
0   CS61A     Denero            B+
1  Data 8   Adhikari            A-
2   CS61B  Hilfinger            B+

In [37]:
classes.pivot(index ='Classes', columns ='Professors', values = ['Average Grade'])

           Average Grade
Professors      Adhikari Denero Hilfinger
Classes
CS61A                NaN     B+       NaN
CS61B                NaN    NaN        B+
Data 8                A-    NaN       NaN

In [38]:
classes.pivot(columns ='Professors', values = ['Average Grade'])

           Average Grade
Professors      Adhikari Denero Hilfinger
0                    NaN     B+       NaN
1                     A-    NaN       NaN
2                    NaN    NaN        B+

Let's try this with our avocado data! I am interested in seeing a table with the type of Haas Avocados as columns

In [40]:
# avocado.pivot(columns = ["4046", "4225", "4770"], values = ["AveragePrice"])
pivotedTable = avocado.pivot(columns = "type", values = ["AveragePrice", "Total Volume"])
pivotedTable

      AveragePrice         Total Volume
type  conventional organic conventional    organic
0             1.33     NaN      64236.0        NaN
1             1.35     NaN      54876.0        NaN
2             0.93     NaN     118220.0        NaN
3             1.08     NaN      78992.0        NaN
4             1.28     NaN      51039.0        NaN
5             1.26     NaN      55979.0        NaN
6             0.99     NaN      83453.0        NaN
7             0.98     NaN     109428.0        NaN
8             1.02     NaN      99811.0        NaN
9             1.07     NaN      74338.0        NaN
10            1.12     NaN      84843.0        NaN
11            1.28     NaN      64489.0        NaN
12            1.31     NaN      61007.0        NaN
13            0.99     NaN     106803.0        NaN
14            1.33     NaN      69759.0        NaN
15            1.28     NaN      76111.0        NaN
16            1.11     NaN      99172.0        NaN
17            1.07     NaN     105693.0        NaN
18            1.34     NaN      79992.0        NaN
19            1.33     NaN      80043.0        NaN
20            1.12     NaN     111140.0        NaN
21            1.45     NaN      75133.0        NaN
22            1.11     NaN     106757.0        NaN
23            1.26     NaN      96617.0        NaN
24            1.05     NaN     124055.0        NaN
25            1.35     NaN     109252.0        NaN
26            1.37     NaN      89534.0        NaN
27            1.27     NaN     104849.0        NaN
28            1.32     NaN      89631.0        NaN
29            1.07     NaN     122743.0        NaN
...            ...     ...          ...        ...
18219          NaN    1.56          NaN  1317000.0
18220          NaN    1.53          NaN  1384683.0
18221          NaN    1.61          NaN  1336979.0
18222          NaN    1.63          NaN  1283987.0
18223          NaN    1.59          NaN  1476651.0
18224          NaN    1.51          NaN  1517332.0
18225          NaN    1.60          NaN   271723.0
18226          NaN    1.73          NaN   210067.0
18227          NaN    1.63          NaN   264691.0
18228          NaN    1.46          NaN   347373.0
18229          NaN    1.49          NaN   301985.0
18230          NaN    1.64          NaN   224798.0
18231          NaN    1.47          NaN   275248.0
18232          NaN    1.41          NaN   283378.0
18233          NaN    1.80          NaN   185974.0
18234          NaN    1.83          NaN   189317.0
18235          NaN    1.82          NaN   207999.0
18236          NaN    1.48          NaN   297190.0
18237          NaN    1.62          NaN    15303.0
18238          NaN    1.56          NaN    15896.0
18239          NaN    1.56          NaN    22128.0
18240          NaN    1.54          NaN    17393.0
18241          NaN    1.57          NaN    18421.0
18242          NaN    1.56          NaN    17597.0
18243          NaN    1.57          NaN    15986.0
18244          NaN    1.63          NaN    17074.0
18245          NaN    1.71          NaN    13888.0
18246          NaN    1.87          NaN    13766.0
18247          NaN    1.93          NaN    16205.0
18248          NaN    1.62          NaN    17489.0

[18249 rows x 4 columns]

# Team Formation 

Now we will spend some time talking about some project ideas for you all to explore!

Before we do that, let's talk about forming project teams! We talked about how important it is for you all to pick teammates that are all taking the same classes with you. However, it's almost important for members who share the same interest as you. If you all have the same interests, you will have an easier time picking a dataset to work on.

# Random Project Ideas

**Hypothesis Testing:** Is there a correlation between a day of the week and number of police phone calls? 

**Prediction:** Does the price of an iPhone app affect the rating? Will an iPhone app that cost more have a higher rating?
                
Predicting who's gonna be drafted in the NBA based off of player statistics.

**Machine Learning:** Given someone's top 10 movie choices, reccommend a new movie.

There are so many more projects that you can come up with! In the following lectures, we will give you the tools to complete a myraid of different data science projects. Some of future topics include visualization, machine learning, and Exploratory Data Analysis!